<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.GoodsMapper">

    <resultMap id="GoodsMapper" type="com.tencent.wxcloudrun.model.Goods">
        <id property="GID" column="GID"/>
        <result property="Gdes" column="Gdes"/>
        <result property="Gcampus" column="Gcampus"/>
        <result property="Gcreatetime" column="Gcreatetime" javaType="java.time.LocalDateTime"  />
        <result property="Gupdatetime" column="Gupdatetime" javaType="java.time.LocalDateTime"  />
        <result property="Status" column="Status"/>
        <result property="Gcategory" column="Gcategory"/>
        <result property="UID" column="UID"/>
        <result property="Gprice" column="Gprice"/>
    </resultMap>

    <select id="getGoods" resultMap="GoodsMapper" parameterType="java.lang.Integer">
        SELECT `GID`, `Gdes`, `Gcampus`, `Gcreatetime`, `Gupdatetime`, `Status`, `Gcategory`, `UID`, `Gprice`
        FROM goods
        WHERE GID = #{GID}
    </select>

</mapper>